Source: nitrux-system-settings
Section: misc
Priority: optional
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper (>=13)
Standards-Version: 4.6.2
Homepage: http://nxos.org


Package: nitrux-system-settings
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: nx-desktop-settings
Description: Defaults system settings for Nitrux
 Default system settings for Nitrux.

